# Ignore everything by default
*

# EXCEPT: Whitelist specific file types

# Jupyter Notebooks
!*.ipynb

# Python source files
!*.py

# README file (adjust name if needed)
!README.md
!README.txt

# requirements.txt file
!requirements.txt

# Directories that contain the Jupyter Notebooks and Python source files
!./

#Unignore .gitignore itself so it can be tracked
!.gitignore
